
  <div class="container py-5 px-6 ">
  
    <div class="row ">
      <div class="col-12 col-lg-10 col-xl-8 mx-auto form-outer">
        <div class="card">
          <div class="card-body">
            
  <form action="/restaurants" method="POST">
    
      <div class="row g-2 mb-3">
        <label for="restaurantName" class="col-md-4  col-form-label align-items-center">餐廳名字</label>
        <div class="col-md-9">
        <input type="text" class="form-control" name="name" placeholder="" id="restaurantName"required>
      </div>
      </div>
      <div class="row g-2 mb-3">
        <label for="restaurantNameEn" class="col-md-4  col-form-label align-items-center">餐廳英文名字</label>
        <div class="col-md-9">
        <input type="text" class="form-control" name="name_en" placeholder=""d="restaurantNameEn">
        </div>
      </div>
      <div class="row g-2 mb-3">
        <label for="restaurantLocation" class="col-md-4  col-form-label align-items-center">餐廳地址</label>
        <div class="col-md-9">
        <input type="text" class="form-control" name="location" placeholder="" id="restaurantLocation" required>
        </div>
      </div>
      <div class="row g-2 mb-3">
        <label for="googleMapLocation" class="col-md-4  col-form-label align-items-center">Google map網址</label>
        <div class="col-md-9">
          <input type="text" class="form-control" name="google_map" placeholder="" id="googleMapLocation">
        </div>
      </div>
      <div class="row g-2 mb-3">
        <label for="restaurantPhone"class="col-md-4  col-form-label align-items-center">餐廳電話</label>
        <div class="col-md-9">
        <input type="tel" class="form-control" name="phone" placeholder="02 XXXX XXXX" id="restaurantPhone"  required>
        </div>
      </div>
      <div class="row g-2 mb-3">
        <label for="image" class="col-md-4  col-form-label align-items-center">圖片來源</label>
        <div class="col-md-9">
          <input type="text" class="form-control" name="image" placeholder="請貼上網址" id="image" required>
        </div>
        </div>
      <div class="row g-2 form-group mb-5">
        <label for="restaurantCategory"class="col-md-4  col-form-label align-items-center">餐廳種類</label>
        <div class="col-md-9">
          <select name="category" id="restaurantCategory"class="form-select" aria-label="restaurantCategory"required>
            <option selected  disabled hidden>選擇餐廳種類</option>
            <option >美式</option>
            <option >咖啡</option>
            <option >中東料理</option>
            <option >日本料理</option>
            <option >義式餐廳</option>
            <option >酒吧</option>
            <option >其他</option>
          </select>
          </div>
      </div>
      <div>
        <label for="customRange2" class="form-label">評分</label>
        </div>
      <fieldset class="rating mb-3">
        <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
          title="Awesome - 5 stars"></label>
        <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half"
          title="Pretty good - 4.5 stars"></label>
        <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
          title="Pretty good - 4 stars"></label>
        <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half"
          title="Meh - 3.5 stars"></label>
        <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
          title="Meh - 3 stars"></label>
        <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half"
          title="Kinda bad - 2.5 stars"></label>
        <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
          title="Kinda bad - 2 stars"></label>
        <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half"
          title="Meh - 1.5 stars"></label>
        <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
          title="Sucks big time - 1 star"></label>
        <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"
          title="Sucks big time - 0.5 stars"></label>
      </fieldset>
      <div class=" mb-4">
        <textarea class="form-control" id="restaurantDescription" name="description" rows="3"placeholder="請寫下關於餐廳的介紹" ></textarea>
      </div>
      
    
    <button type="submit" class="btn btn-major">儲存</button>

  </form>
</div>
</div>
</div>
</div>
